<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="WriteToTextOutput" value="false" />
    <add key="TextOutputPath" value="c:\temp\ServiceInfo.txt" />
    <add key="OverwriteTextIfFound" value="true" />
    <add key="WriteToEventLogOutput" value="true" />
    <add key="EventLogSourceName" value="RSSFeedDownloader" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="DBConnectionString" value="Server=.\PRIME;Database=RSS_branch_RuileV2;Trusted_Connection=True;"/>
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>